[Unit]
Description=isuxi-perl
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/webapp/perl
EnvironmentFile=/home/isucon/env.sh
Environment=PLACK_ENV=production

ExecStart=/home/isucon/.local/perl/bin/carton exec -- plackup -s Gazelle --path /var/run/isuxi.sock --workers=20 --max-reqs-per-child 500000000 -E production -a app.psgi

[Install]
WantedBy=multi-user.target
